<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BorrowRecordMapper">
    <update id="returnBook">
        update borrow_record
        set return_time = #{returnDate}, borrow_condition = '已还'
        where book_id = #{bookId} and id = #{userId};
    </update>
    <select id="allBorrowUser" resultType="org.group11.Entity.User">
        select *
        from Users
        where id in (
            select id
            from borrow_record
            where borrow_condition= '未还'
        );
    </select>
</mapper>