<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
    <select id="checkComment" resultType="org.group11.Entity.Comment">
        SELECT *
        FROM comment
        WHERE BOOK_ID = #{id}
    </select>
    <insert id="saveComment">
        INSERT INTO comment (ID, BOOK_ID, COMMENT_TIME, COMMENT_CONTENT, SCORE)
        VALUES (IFNULL((SELECT MAX(ID) FROM (SELECT * FROM comment) AS c), 0) + 1, #{id}, #{COMMENT_TIME}, #{COMMENT_CONTENT}, #{SCORE})
    </insert>
</mapper>
