<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="checkPassword" resultType="java.lang.Integer">
        select count(*)
        from Users
        where id = #{id}
            and user_key = #{user_key};
    </select>
    <select id="getUserByName" resultType="org.group11.Entity.User">
        select *
        from Users
        where user_name = #{name};
    </select>
    <select id="getUser" resultType="org.group11.Patterns.transforObject.UserTO">
        select *
        from Users
        where user_name = #{name}
            and user_key = #{user_key};
    </select>
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(id) as maxId
        from Users;
    </select>
    <select id="insertUser" resultType="org.group11.Entity.CreateUser">
        INSERT INTO users (USER_NAME, USER_KEY)
        VALUES (#{USER_NAME}, #{USER_KEY});
    </select>
</mapper>
